.jumbo_main {
  background-color: #fdfdfd;
  color: #555;
}

/* Jumbotron adjustment */
/*  background-color: #f08e4d; */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-urbain {
  background-color: #f08e4d;
}

.navbar-urbain a {
  color: #fff;
}
.navbar-urbain a:visited {
  color: #fff;
}
